<!DOCTYPE html>
<html lang="en">
<head>
    <title>:( Gameboy Colour</title>

    <script type="text/javascript">
        function format_time (iso_time) {
            let date = new Date(iso_time);
            return `${date.getHours()}:${date.getMinutes()}`;
        }
    </script>
</head>
<body>
  IP duplication error: {{ request_ip }}, you already requested words {{ last_interval }} hour(s) ago! You can next request at <script type="text/javascript">format_time("{{ next_available }}");</script>.
    Please ensure you wait at least {{ interval_hours }} hours before requesting new words.
    <br>
    Note: this is the beta, in the real thing the cooldown interval will be 6 hours which is the slowmode on the #get-banned-challenge channel.
    <br>
    <a href="https://get-banned-challenge.herokuapp.com/undo">
      If you requested these words by accident and are not going to use them, please mark them as unused again by clicking here. This will also reset the timer.
    </a>
    <br>
    <br>
    The last set of words you received is:
    <br>
    <div id="last_message">{{ last_message }}</div>
  <!--there is no frontend,take off your clothes,bottom text-->
</body>
</html>