<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <title>:) Gameboy Colour</title>
</head>
<body>
  hello world {{ request_ip }} timezone UTC{{ timezone }}
  <br>
  {{ info }}
  <br>
  <a href="https://get-banned-challenge.herokuapp.com/undo">
    If you requested these words by accident and are not going to use them, please mark them as unused again by clicking here.
  </a>
  <br>
  <br>

  <script type="text/javascript">
    function copyMessage() {
      var copyText = document.getElementById("message");
      copyText.select();
      copyText.setSelectionRange(0, 2000);
      document.execCommand("copy");
      alert("Copied the message!");
    }
  </script>

  <button onclick="copyMessage()">Copy the message</button>
  <input type="text" value="{{ message }}" id="message">
  <!--there is no frontend,take off your clothes,bottom text-->
</body>
</html>