<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <title>:) Gameboy Colour</title>
</head>
<body>
  hello world {{ request_ip }} timezone UTC{{ timezone }}
  <br>
  {{ info }}
  <br>
  Note: this is the beta and the progress will be reset when we start this for real.
  <br>
  Please report any bugs or issues you find to me JMcB#7918.
  <br>
  If you have a good idea for a real design for the page, please send it to me and I'll make it. I couldn't really think of anything. Even better, if you want to do the CSS go ahead and send me that, or even fork the GitHub 
  <a href="https://github.com/JMcB17/get-banned-challenge">here. HTML in the templates/ folder. Or feel free to help with anything in TODO.txt.</a>
  <br>
  <a href="https://get-banned-challenge.herokuapp.com/undo">
    If you requested these words by accident and are not going to use them, please mark them as unused again by clicking here.
  </a>
  <br>
  <br>

  <script type="text/javascript">
    function copyMessage() {
      var copyText = document.getElementById("message");
      copyText.select();
      copyText.setSelectionRange(0, 2000);
      document.execCommand("copy");
      alert("Copied the message!");
    }
  </script>

  <button onclick="copyMessage()">Copy the message</button>
  <input type="text" value="{{ message }}" id="message">
  <!--there is no frontend,take off your clothes,bottom text-->
</body>
</html>