<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <title>:/ Gameboy Colour</title>
</head>
<body>
  It seems you already undid your last requested words!
  <br>
  "How can you undo what you have already undone?
  <br>
  Well, if this was like word or something you could undo
  the last action before the one that you just undid
  but this app doesn't work like that."
  -Tzun Two or summin
  <!--there is no frontend,take off your clothes,bottom text-->
</body>
</html>